%p== Name: #{@name}
%p== Location: #{@location}
%p== Date: #{@date}
%p== Registration Deadline: #{@deadline}
%p== Duration: #{@duration} hours
%p== Chairperson: #{@chair}
%p== Chair's Email: #{@chair_email}